.login_card {
    border: 1px solid blueviolet;
    margin: 30px auto;
    padding: 13px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.login_card h4 {
    color: blueviolet;
    margin-bottom: 13px;
}


#loginForm {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13px;
}

button {
    width: 100%;
    padding: 10px 13px;
    background: blueviolet;
    color: white;
    outline: none;
    border: none;
}